<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Book</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>New Book</h1>
	<form action="#" th:action="@{/savebook}" th:object=${book} method="post">
		<p>Author: <input type="text" th:field="${book.author}" /></p>
		<p>Title: <input type="text" th:field="${book.title}" /></p>
		<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
		<p>Year: <input type="text" th:field="${book.year}" /></p>

		<div style="clear: both; display: block; height: 10px;"></div>
		<label for="categorylist">Category</label>
		<select id="categorylist" th:field="*{category}" class="form-control">
			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}">
			</option>
		</select>
		<div style="clear: both; display: block; height: 10px;"></div>


		<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>

</body>

</html>